body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #252525;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .container {
    width: 1920px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-list {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-link {
  color: #F3B693;
}

.icon-logo {
  width: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-logo {
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .icon-logo {
    width: 100px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-menu {
  margin: 0;
  padding: 0;
  padding: 15px 0 15px 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: none;
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .btn-menu {
    cursor: pointer;
  }
}

.icon-menu {
  min-width: 34px;
  min-height: 24px;
  fill: #F55E08;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.select {
  border: none;
}

.option {
  color: fieldtext;
}

.actions-list {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .actions-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .actions-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.actions-list-mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .actions-list-mob {
    display: none;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .actions-list-mob {
    display: none;
  }
}

.icon-actions {
  min-width: 20px;
  fill: #F3B693;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-actions {
    min-width: 25px;
  }
}

.actions-item {
  padding: 10px 0 10px 0;
  margin-right: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .actions-item {
    margin-right: 30px;
  }
}
.actions-item:nth-child(2) {
  margin-right: 0;
}

.hero-box {
  padding: 0;
  position: relative;
}

.hero {
  max-width: 1600px;
  text-align: center;
  padding: 290px 0px 290px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(61, 61, 61, 0.5)), to(rgba(61, 61, 61, 0))), url(../../images/bg-fon_hero/bg-fon-mob.jpg);
  background-image: linear-gradient(rgba(61, 61, 61, 0.5), rgba(61, 61, 61, 0)), url(../../images/bg-fon_hero/bg-fon-mob.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(61, 61, 61, 0.5)), to(rgba(61, 61, 61, 0))), url(../../images/bg-fon_hero/bg-fon-mob@2.jpg);
    background-image: linear-gradient(rgba(61, 61, 61, 0.5) 0%, rgba(61, 61, 61, 0)), url(../../images/bg-fon_hero/bg-fon-mob@2.jpg);
  }
}
.hero-title {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 auto;
  max-width: 261px;
  color: #EE7E3F;
  padding-bottom: 15px;
}

.hero-line {
  margin: 0 auto;
  border-bottom: 1px solid #EE7E3F;
  width: 120px;
}

.hero-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */