@charset "UTF-8";
body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #252525;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  position: relative;
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 50px 0 50px;
  }
}

.nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.actions-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-list {
  display: none;
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 233px;
    padding: 50px 0 50px 0;
  }
}

.header-item {
  margin-right: 25px;
}
.header-item:nth-child(3) {
  margin-right: 0;
}

.header-link {
  color: #f3b693;
}

@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .select-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.select-mob {
  margin-left: 22px;
  margin-right: 42px;
  background-color: transparent;
  border: none;
  padding: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .select-mob {
    margin-left: 42px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .select-mob {
    display: none;
  }
}

.select-desktop {
  display: none;
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .select-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .select-desktop:nth-child(2) {
    margin-right: 0;
  }
}

.icon-logo {
  width: 50px;
  cursor: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-logo {
    width: 70px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .icon-logo {
    width: 100px;
  }
}

.logo {
  position: absolute;
  top: 10%;
  left: 44%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    position: absolute;
    top: 10%;
    left: 46%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .logo {
    position: absolute;
    top: 10%;
    left: 46%;
  }
}

.btn-menu {
  margin: 0;
  padding: 0;
  padding: 15px 0 15px 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btn-menu {
    padding: 30px 0 30px 0;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .btn-menu {
    cursor: pointer;
    margin-right: 84px;
    margin-left: 100px;
    padding: 50px 0 50px 0;
  }
}

.icon-menu {
  min-width: 34px;
  min-height: 24px;
  fill: #f55e08;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.actions-list {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .actions-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .actions-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 76px;
  }
}

.actions-list-mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .actions-list-mob {
    display: none;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .actions-list-mob {
    display: none;
  }
}

.icon-actions {
  min-width: 20px;
  fill: #f3b693;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-actions {
    min-width: 25px;
  }
}

.actions-item {
  padding: 10px 0 10px 0;
  margin-right: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .actions-item {
    margin-right: 30px;
    padding: 30px 0 30px 0;
  }
  .actions-item:nth-child(4) {
    margin-right: 0;
  }
  .actions-item:nth-child(3) {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .actions-item {
    margin-right: 30px;
    padding: 50px 0 50px 0;
  }
  .actions-item:nth-child(4) {
    margin-right: 0;
  }
  .actions-item:nth-child(3) {
    margin-left: 30px;
  }
}
.actions-item:nth-child(2) {
  margin-right: 0;
}

.hero-box {
  padding: 0;
}

.hero {
  display: block;
  margin-top: -64px;
  max-width: 767px;
  padding: 290px 0px 290px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(61, 61, 61, 0.5)), to(rgba(61, 61, 61, 0))), url(../../images/bg-fon_hero/bg-fon-mob.jpg);
  background-image: linear-gradient(rgba(61, 61, 61, 0.5), rgba(61, 61, 61, 0)), url(../../images/bg-fon_hero/bg-fon-mob.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(61, 61, 61, 0.5)), to(rgba(61, 61, 61, 0))), url(../../images/bg-fon_hero/bg-fon-mob@2.jpg);
    background-image: linear-gradient(rgba(61, 61, 61, 0.5) 0%, rgba(61, 61, 61, 0)), url(../../images/bg-fon_hero/bg-fon-mob@2.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    display: block;
    margin-top: -94px;
    max-width: 1199px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(61, 61, 61, 0.5)), to(rgba(61, 61, 61, 0))), url(../../images/bg-fon_hero/bg-fon-tabl.jpg);
    background-image: linear-gradient(rgba(61, 61, 61, 0.5), rgba(61, 61, 61, 0)), url(../../images/bg-fon_hero/bg-fon-tabl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(61, 61, 61, 0.5)), to(rgba(61, 61, 61, 0))), url(../../images/bg-fon_hero/bg-fon-tabl@2.jpg);
    background-image: linear-gradient(rgba(61, 61, 61, 0.5) 0%, rgba(61, 61, 61, 0)), url(../../images/bg-fon_hero/bg-fon-tabl@2.jpg);
  }
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .hero {
    display: block;
    margin-top: -134px;
    max-width: 1920px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(61, 61, 61, 0.5)), to(rgba(61, 61, 61, 0))), url(../../images/bg-fon_hero/bg-fon-desс.jpg);
    background-image: linear-gradient(rgba(61, 61, 61, 0.5), rgba(61, 61, 61, 0)), url(../../images/bg-fon_hero/bg-fon-desс.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 393px 0 393px 0;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1920px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (max-width: 1920px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (max-width: 1920px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(61, 61, 61, 0.5)), to(rgba(61, 61, 61, 0))), url(../../images/bg-fon_hero/bg-fon-desc@2.jpg);
    background-image: linear-gradient(rgba(61, 61, 61, 0.5) 0%, rgba(61, 61, 61, 0)), url(../../images/bg-fon_hero/bg-fon-desc@2.jpg);
  }
}
.hero-title {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 auto;
  max-width: 261px;
  color: #ee7e3f;
  margin-bottom: 16px;
  text-align: center;
}

.hero-line {
  margin: 0 auto;
  border-bottom: 1px solid #ee7e3f;
  width: 120px;
  margin-bottom: 16px;
}

.hero-btn {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.1;
  text-transform: uppercase;
  color: #f3b693;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: none;
}

.icon-btn {
  width: 20px;
  fill: #f3b693;
  -ms-flex-item-align: center;
      align-self: center;
}

.categories {
  margin: 0 auto;
  padding: 60px 0 60px 0;
}

.categories-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  color: #252525;
  padding-bottom: 30px;
}

.categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories-item {
  margin-right: 5px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .categories-item {
    margin-right: 30px;
    padding-top: 30px;
  }
  .categories-item:nth-child(-n+2) {
    padding-top: 0;
  }
}
.categories-item:nth-child(2n) {
  margin-right: 0;
}

.categories-overley {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.overley-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 165px;
  height: 40px;
  background: rgba(224, 190, 162, 0.75);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .overley-text {
    width: 274px;
  }
}

.categories-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.subscribe {
  padding-bottom: 60px;
}

.subscribe-text {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  color: #252525;
  text-align: center;
  padding-bottom: 30px;
}

.subscribe-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 15px;
}

.subscribe-email {
  font-size: 14px;
  font-weight: 200;
  line-height: 1.2;
  width: 335px;
  padding: 12px 0 12px 0;
  text-align: center;
  color: #252525;
  outline: none;
  border: 0.5 solid #252525;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-email {
    width: 435px;
    border: 0.5 solid #252525;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .subscribe-email {
    font-size: 16px;
    font-weight: 200;
    line-height: 1.2;
    width: 600px;
    padding: 16px 0 16px 0;
    border: 0.5 solid #252525;
  }
  .subscribe-email:hover {
    border: 0.5 solid #252525;
  }
}
.subscribe-email:hover {
  border: 0.5 solid #252525;
}

.subscribe-btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe-btn {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.1;
  padding: 12px 115px 12px 115px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #E0BEA2;
  outline: none;
  cursor: none;
  border: none;
  -webkit-transition: -webkit-filter 50ms linear, -webkit-box-shadow 50ms linear;
  transition: -webkit-filter 50ms linear, -webkit-box-shadow 50ms linear;
  transition: filter 50ms linear, box-shadow 50ms linear;
  transition: filter 50ms linear, box-shadow 50ms linear, -webkit-filter 50ms linear, -webkit-box-shadow 50ms linear;
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .subscribe-btn {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    padding: 16px 241px 16px 241px;
    cursor: pointer;
  }
}
.subscribe-btn:hover {
  -webkit-filter: drop-shadow(0px 5px 7px rgba(37, 37, 37, 0.15));
          filter: drop-shadow(0px 5px 7px rgba(37, 37, 37, 0.15));
}
.subscribe-btn:active {
  -webkit-filter: none;
          filter: none;
  -webkit-box-shadow: inset 0px 3px 7px rgba(37, 37, 37, 0.15);
          box-shadow: inset 0px 3px 7px rgba(37, 37, 37, 0.15);
}

.agreement-text {
  font-size: 14px;
  font-weight: 200;
  line-height: 1.1;
  text-align: center;
  color: #252525;
}/*# sourceMappingURL=main.css.map */