.categories {
  padding-bottom: 5px;
}

.categories-box {
  margin-right: 0 auto;
  margin-left: 0 auto;
}

// .footer-nav {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }

// .footer-list {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   // position: relative;

// }

.footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 20px;
}

.footer-link {
  @include font(18px, 300, 1.2);

  color: $base-color-text;

  &:hover,
  &:focus {
    color: $text-color-hover;
    outline: none;
  }

  &--last {
    @include font(18px, 300, 1.2);
    color: $base-color-text;
  }
}

// .footer-link::before {
//   content: '';
//   display: block;
//   position: absolute;
//   bottom: -5px;
//   left: -100%;
//   width: 335px;
//   height: 0.3px;
//   background-color: $line-footer-nav;
// }

.footer-line {
  width: 335px;
  height: 0.3px;
  background-color: $line-footer-nav;
}

.icon-footer {
  // display: inline-flex;

  position: absolute;
  top: 25px;
  left: 310px;
  fill: $arrow-footer-nav;
  width: 14px;

  transform: rotate(90deg);

  transition: transform 300ms linear;

  &:hover {
    transform: rotate(270deg);
  }
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-item {
  margin-right: 10px;

  &:nth-child(2) {
    margin-right: 0;
  }
}

.social-footer {
  fill: $icon-footer-color;
  padding-top: 10px;
  padding-bottom: 5px;
  // width: 19px;
  // height: 19px;
}

.footer-contact__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.footer-contact__item {
  padding-bottom: 5px;

  &:nth-child(2) {
    padding-bottom: 0;
  }
}

.footer-contact__link {
  @include font(14px, 200, 1.1);

  color: $base-color-text;
}

.copyright {
  @include font(10px, 300, 1.2);

  color: $base-color-text;
  text-align: center;
  padding-bottom: 5px;
}
