.subscribe {
  // display: block;
  // margin-right: 0 auto;
  // margin-left: 0 auto;
  padding-bottom: 60px;
}

.subscribe-text {
  @include font(24px, 300, 1.2);

  color: $base-color-text;
  text-align: center;
  padding-bottom: 30px;
}

.subscribe-input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}

.subscribe-email {
  @include tablet {
    width: 435px;
    border: 0.5 solid $border-email-subscribe;

    // &:hover {
    //     border: 0.5 solid red;
    
    //     }
  }

  @include desktop {
    @include font(16px, 200, 1.2);
    width: 600px;
    padding: 16px 0 16px 0;
        border: 0.5 solid $border-email-subscribe;
    

    &:hover {
        border: 0.5 solid $border-email-subscribe;
      }
  }

  @include font(14px, 200, 1.2);

  width: 335px;
  padding: 12px 0 12px 0;
  text-align: center;
  color: $base-color-text;
  outline: none;
  border: 0.5 solid $border-email-subscribe;

  &:hover {
    border: 0.5 solid $border-email-subscribe;
  }
}

.subscribe-btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscribe-btn {
  @include desktop {
    @include font(16px, 300, 1.2);
    padding: 16px 241px 16px 241px;
    cursor: pointer;
  }
  @include font(14px, 300, 1.1);

  padding: 12px 115px 12px 115px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: $btn-text-subscribe;
  background-color: $bg-btn-subscribe;
  outline: none;
  cursor: none;
  border: none;

  transition: filter 50ms linear, box-shadow 50ms linear;

  &:hover {
    filter: drop-shadow(0px 5px 7px rgba(37, 37, 37, 0.15));
  }

  &:active {
    filter: none;
    box-shadow: inset 0px 3px 7px rgba(37, 37, 37, 0.15);
  }
}

.agreement-text {
  @include font(14px, 200, 1.1);

  text-align: center;
  color: $base-color-text;
}
