.cards {
  @include desktop {
    padding-bottom: 100px;
  }

  padding-bottom: 60px;
}

.cards-box {
  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1200px;
  }

  width: 375px;
}

.cards-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cards-item {
  display: flex;
  justify-content: center;
  margin-right: 5px;
  margin-bottom: 5px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  @include tablet {
    margin-right: 30px;
  }

  @include desktop {
    margin: 0;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 30px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-child(n + 10) {
      margin-bottom: 0;
    }
  }
}

.cards-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards-name {
  @include font(14px, 300, 1.1);
  color: $base-color-text;
  padding-top: 10px;
  padding-bottom: 5px;
}

.cards-new {
  @include font(14px, 300, 1.1);

  color: $text-new-color;
}

.cards-price {
  @include font(14px, 700, 1.1);

  font-family: 'Jost', sans-serif;
  color: $base-color-text;
  padding-bottom: 11px;
}

.cards-size {
  @include font(14px, 300, 1.1);
  text-transform: uppercase;
  color: $base-color-text-50;
  padding-bottom: 8px;
}

.selection-color-list {
  display: flex;
}

.selection-color-item {
  width: 14px;
  height: 14px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: $choice-clothing-white;
  margin-right: 5px;

  &:nth-child(2) {
    border: 1px solid transparent;
    background-color: $choice-clothing-blue;
  }

  &:nth-child(3) {
    border: 1px solid transparent;
    background-color: $choice-clothing-beige;
    margin-right: 0;
  }
}

.cards-overley {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.like-overlay {
  @include tablet {
    width: 40px;
    height: 40px;
  }

  @include desktop {
    width: 40px;
    height: 40px;
  }

  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  background-color: $like-bg;
  border-bottom-left-radius: 20px;
}

.icon-like {
  position: absolute;
  top: 30%;
  left: 35%;
  fill: $icon-like-catalog;
}
