$base-color-text: #252525;
$nav-header: #f3b693;
$hero-title: #ee7e3f;
$line-hero: #ee7e3f;
$menu-header: #f55e08;
$actions-icon: #f3b693;
$bth-text-hero: #f3b693;
$white-text-categories: #FFFFFF;
$bg-overlay-categories: rgba(224, 190, 162, 0.75);
$email-text: rgba(37, 37, 37, 0.5);
$btn-text-subscribe: #ffffff;
$bg-btn-subscribe: #E0BEA2;
$border-email-subscribe: #252525;