$base-color-text: #252525;
$base-color-text-50: rgba(37, 37, 37, 0.5);
$nav-header: #f3b693;
$hero-title: #ee7e3f;
$line-hero: #ee7e3f;
$menu-header: #f55e08;
$actions-icon: #f3b693;
$bth-text-hero: #f3b693;
$white-text-categories: #FFFFFF;
$bg-overlay-categories: rgba(224, 190, 162, 0.75);
$email-text: rgba(37, 37, 37, 0.5);
$btn-text-subscribe: #ffffff;
$bg-btn-subscribe: #E0BEA2;
$border-email-subscribe: #252525;
$arrow-footer-nav: #E0BEA2;
$line-footer-nav: #252525;
$social-footer-color: #E0BEA2;
$text-color-hover: #ee7e3f;
$arrow-link-categories: #E0BEA2;
$arrow-link-white: #ffffff;
$current-color: #E0BEA2;

// Catalog 
$menu-header-catalog: #E0BEA2;
$actions-icon-catalog: #E0BEA2;
$arrow-catalog: #E0BEA2;
$arrow-white: #ffffff;
$nav-header-hover: #E0BEA2;
$btn-catalof: #E0BEA2;
$white-text-btn: #ffffff;
$icon-filter-catalog: #E0BEA2;
$line-catalog: #252525;
$text-new-color: #E0BEA2;
$choice-clothing-white: #ffffff;
$choice-clothing-blue: #6F83A4;
$choice-clothing-beige: #F1DDAA;
$like-bg: #E0BEA2; 
$icon-like-catalog: #ffffff;